@font-face {
  font-family: 'Jefferies';
  src: url('./assets/fonts/Jefferies.ttf') format('truetype');
}

.glow-container {
  display: inline-block;
  position: relative;
}

.glow-container img {
  display: block;
  max-width: 220px; /* Adjust size as needed */
  max-height: 220px; /* Adjust size as needed */
  height: 100%;
  width: 100%;
}

.glow-container::before {
  content: '';
  position: absolute;
  top: 15%;
  left: 18%;
  width: 63%;
  height: 63%;
  border-radius: 50%;
  box-shadow: 0 0 40px 10px rgba(150, 255, 255, 0.5); /* Adjust color and intensity */
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 40px 10px rgba(150, 255, 255, 0.5);
  }
  to {
    box-shadow: 0 0 60px 15px rgba(255, 255, 255, 1);
  }
}

.text-purple {
  color: #CC77FF;
}
.text-orange {
  color: #f70;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resourceButton {
  cursor: pointer;
}

.LessonList {
  margin-left: 30px;
}

.LessonList li {
  color: #f70;
  line-height: 1.5;
  margin-bottom: 15px;
}

.LessonList span {
  color: #fba;
}

.LessonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.LessonGrid > div {
  flex: 1 0 30%;
  margin: 0 10px;
}

.LessonListChapter {
  font-style: italic;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .LessonGrid > div {
    flex: 1 0 100%;
  }
}


/*Lesson Files and Stuff*/

.file-preview {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.file-preview img {
  width: 100px;
  height: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  position: relative;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
